<template>
    <span class="datetime">{{ datetime }}</span>
</template>

<script>
    export default {
        data () {
           return {
               datetime: '',
           }
        },
        methods: {
            time() {
                let self = this;
                this.datetime = moment()
                    .utc()
                    .local()
                    .format("ddd, DD MMMM YYYY HH:mm:ss");
                setTimeout(self.time, 1000);
            },
        },
        mounted() {
            this.time();
        },
    }
</script>

<style scoped>

</style>
