<template>
    <fb-signin-button
        class="abcRioButton abcRioButtonBlue"
        :params="fbSignInParams"
        @success="onSignInSuccess"
        @error="onSignInError">
        <div class="abcRioButtonContentWrapper">
            <div class="abcRioButtonIcon">
                <div class="abcRioButtonIconImage">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 216 216" class="abcRioButtonSvg" color="#FFFFFF">
                        <path fill="#FFFFFF" d="
                            M204.1 0H11.9C5.3 0 0 5.3 0 11.9v192.2c0 6.6 5.3 11.9 11.9
                            11.9h103.5v-83.6H87.2V99.8h28.1v-24c0-27.9 17-43.1 41.9-43.1
                            11.9 0 22.2.9 25.2 1.3v29.2h-17.3c-13.5 0-16.2 6.4-16.2
                            15.9v20.8h32.3l-4.2 32.6h-28V216h55c6.6 0 11.9-5.3
                            11.9-11.9V11.9C216 5.3 210.7 0 204.1 0z">
                        </path>
                    </svg>
                </div>
            </div>
            <span class="abcRioButtonContents">
                <span>Sign in with Facebook</span>
            </span>
        </div>
    </fb-signin-button>
</template>

<script>
    import FBSignInButton from 'vue-facebook-signin-button';
    import Api from "../util/Api";
    import Cookie from "../util/Cookie";
    import Notification from "../util/Notification";

    Vue.use(FBSignInButton);

    export default {
        component: {
            FBSignInButton,
        },
        data () {
           return {
               fbSignInParams: {
                   scope: 'email',
                   return_scopes: true,
               }
           }
        },
        methods: {
           onSignInSuccess (response) {
               axios.get(Api.host() + '/auth/facebook/callback?access_token='
                   + response.authResponse.accessToken)
                   .then(response => {
                       $('#modalSignIn').modal('hide');
                       let result = response.data;
                       if (result && result.jwt) {
                           Cookie.set('token', result.jwt);
                           Notification.show(`Welcome back, ${result.user.first_name}!`);
                           location.reload(false);
                       }
                   });
           },
           onSignInError (error) {
               console.log(error);
           }
        }
    }
</script>

<style scoped>
    /* Facebook button style */
    .abcRioButtonBlue {
        background-color: #4267b2;
        border: none;
        color: #fff;
    }

    .abcRioButtonBlue:active {
        background-color: #29487d !important;
    }

    .abcRioButton {
        -webkit-border-radius: 1px;
        border-radius: 1px;
        -webkit-box-shadow: 0 2px 4px 0px rgba(0,0,0,.25);
        box-shadow: 0 2px 4px 0 rgba(0,0,0,.25);
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        -webkit-transition: background-color .218s, border-color .218s, box-shadow .218s;
        transition: background-color .218s, border-color .218s, box-shadow .218s;
        -webkit-user-select: none;
        -webkit-appearance: none;
        background-image: none;
        cursor: pointer;
        outline: none;
        overflow: hidden;
        position: relative;
        text-align: center;
        vertical-align: middle;
        white-space: nowrap;
        width: auto;
    }

    .abcRioButton:hover {
        -webkit-box-shadow: 0 0 3px 3px rgba(66,133,244,.3);
        box-shadow: 0 0 3px 3px rgba(66,133,244,.3);
    }

    .abcRioButtonIconImage {
        width: 24px;
        height: 24px;
    }

    .abcRioButtonBlue .abcRioButtonContentWrapper {
        border: 1px solid transparent;
    }

    .abcRioButtonContentWrapper {
        height: 100%;
        width: 100%;
    }

    .abcRioButtonBlue .abcRioButtonIcon {
        -webkit-border-radius: 1px;
        border-radius: 1px;
    }

    .abcRioButtonIcon {
        float: left;
        padding: 12px;
    }

    .abcRioButtonSvg {
        display: block;
    }

    .abcRioButtonContents {
        font-size:16px;
        font-family: Roboto, arial, sans-serif;
        font-weight: 500;
        line-height: 48px;
        letter-spacing: .21px;
        margin-left: 6px;
        margin-right: 6px;
        vertical-align: top;
    }
</style>
