<template>
    <swiper :options="swiperOption" ref="fence">
        <!-- :style="{left: `${swiperOption.virtual.offset}px`}" -->
        <swiper-slide v-for="(slide, index) in slides"
                      :key="index">
            {slide}
        </swiper-slide>
        <div class="swiper-pagination" slot="pagination"></div>
        <div class="swiper-button-prev" slot="button-prev"></div>
        <div class="swiper-button-next" slot="button-next"></div>
    </swiper>
</template>

<script>
    import bridge from 'vue-awesome-swiper';
    import 'swiper/dist/css/swiper.css';

    import Api from "../util/Api";
    import Lock from "../partials/Lock";

    Vue.use(bridge, {
        speed: 500,
        freeMode: false,
        freeModeSticky: true,
        scrollbarHide: true,
        grabCursor: true,
        simulateTouch: true,
        mousewheel: true,
    });

    export default {
        name: "fence",
        data() {
            let totalFences = 99999; // set total number of fences
            let initFences = (window.innerWidth
                || document.documentElement.clientWidth
                || document.getElementsByTagName('body')[0].clientWidth
            ) / 163;

            return {
                prevFence: 0,
                loadedPages: [0],
                slides: [],
                swiperOption: {
                    slidesPerView: initFences,
                    onSlideChangeEnd: function() {
                        this.onSwipe()
                    },
                    pagination: {
                        el: '.swiper-pagination',
                        type: 'fraction'
                    },
                    navigation: {
                        nextEl: '.swiper-button-next',
                        prevEl: '.swiper-button-prev'
                    },
                    virtual: {
                        slides: (function () {
                            const slides = [];
                            const fenceImage = 'public/images/fence_inner.png';
                            const heartImage = 'public/images/heart.gif';

                            let limit = totalFences + initFences;
                            for (let i = 1; i < limit; i++) {
                                let hideClass = i > (totalFences + 1) ? ' hide' : '';
                                slides.push(
                                    '<div class="carousel-cell lock-container' + hideClass + '" id="' + i + '">' +
                                        '<img src="' + fenceImage + '"/>' +
                                        '<span class="lock1"><img class="heart" src="' + heartImage + '" /></span>' +
                                        '<span class="lock2"><img class="heart" src="' + heartImage + '" /></span>' +
                                        '<span class="lock3"><img class="heart" src="' + heartImage + '" /></span>' +
                                        '<span class="lock4"><img class="heart" src="' + heartImage + '" /></span>' +
                                        '<span class="lock5"><img class="heart" src="' + heartImage + '" /></span>' +
                                        '<span class="lock6"><img class="heart" src="' + heartImage + '" /></span>' +
                                        '<span class="lock7"><img class="heart" src="' + heartImage + '" /></span>' +
                                        '<span class="lock8"><img class="heart" src="' + heartImage + '" /></span>' +
                                        '<span class="lock9"><img class="heart" src="' + heartImage + '" /></span>' +
                                        '<span class="lock10"><img class="heart" src="' + heartImage + '" /></span>' +
                                    '</div>'
                                );
                            }

                            return slides;
                        }()),
                        cache: true,
                        addSlidesBefore: 10,
                        addSlidesAfter: 10,
                    }
                }
            }
        },

        methods: {
            loadLocks(pageNum, saveLoaded = false) {
                let fencesPerPage = Math.round(this.swiperOption.slidesPerView);

                if (pageNum > 0 && pageNum <= 100000) {
                    axios.get(Api.host() + '/locks'
                        + '?' + 'fences=' + fencesPerPage
                        + '&' + 'page=' + pageNum
                        + '&' + Api.key())
                        .then(response => {
                            this.locks = response.data.locks.data;
                            Lock.draw(this.locks, pageNum, fencesPerPage);

                            // add page to the loaded page array
                            if (saveLoaded === true) {
                                this.loadedPages.push(pageNum);
                            }
                        });
                }
            },

            toSlide(pageNum, loadLocks = true) {
                let fencesPerPage = Math.round(this.swiperOption.slidesPerView);
                this.swiper.slideTo(pageNum, 0);
                if (loadLocks) {
                    this.loadLocks(Math.round(pageNum / fencesPerPage));
                }
            },

            onSwipe(ele) {
                let fencesPerPage = Math.round(this.swiperOption.slidesPerView);
                let currentFence = ele.swiper.activeIndex;
                let pageNum = Math.round(currentFence / fencesPerPage) + 1;

                let swipeDirection = '';
                if (this.prevFence < currentFence) {
                    swipeDirection = 'right';
                } else {
                    swipeDirection = 'left';
                }

                // Get fence range visible on the screen
                let min = fencesPerPage * pageNum - fencesPerPage + 1;
                let max = fencesPerPage * pageNum;

                // Load locks based on fence position
                if (((currentFence + fencesPerPage) >= max || currentFence <= min)
                    && this.loadedPages.indexOf(pageNum) === -1
                ) {
                    if (swipeDirection === 'left') {
                        this.loadLocks(pageNum);
                        this.loadLocks(pageNum-1);
                    } else {
                        this.loadLocks(pageNum, true);
                    }
                }
            },

            initSearch() {
                let fencesPerPage = Math.round(this.swiperOption.slidesPerView);
                let totalFences = 99999;

                let fenceEle = document.getElementById('fenceId');
                if (fenceEle != null) {
                    let fenceId = fenceEle.value;
                    let destinationId = (fenceId <= totalFences)
                        ? fenceId : totalFences;

                    // slide to set destination
                    this.toSlide(destinationId - 1, false);
                    // load locks from left side
                    this.loadLocks(Math.round(fenceId / fencesPerPage));
                    // load locks from right side
                    this.loadLocks(Math.round(fenceId / fencesPerPage) + 1);
                } else {
                    this.loadLocks(1);
                }
            }
        },

        computed: {
            swiper() {
                return this.$refs.fence.swiper;
            },
        },

        mounted() {
            this.initSearch();

            this.swiper.on('transitionStart', () => {
                this.onSwipe(this);
            });

            this.swiper.on('transitionEnd', () => {
                this.prevFence = this.swiper.activeIndex;
            });

            this.$root.$on('findLockClicked', (lockNumber) => {
                this.toSlide(lockNumber-1);
            });
        },
    };
</script>

<style lang="scss" scoped>

</style>
