<template>
    <span>
        <input type="number"
               class="find-lock-input"
               :min="`${minNumber}`"
               :max="`${maxNumber}`"
               :maxlength="`${maxLength}`"
               placeholder="Find a lock"
               @keyup.enter="toSlide"
               @keyup="sanitize"
               v-model="positionNumber"
        />
    </span>
</template>

<script>
    import { debounce } from 'debounce';

    export default {
        data() {
            return {
                positionNumber: '',
                minNumber: 1,
                maxNumber: 100000,
                maxLength: 6,
            }
        },
        methods: {
            toSlide(delay = false) {
                // Check if position is a number, otherwise return to initial position
                if (!this.isNumber(this.positionNumber)) {
                    this.$root.$emit('findLockClicked', 1);
                    return;
                }

                // Emitting the events for sliding the fence
                if (delay) {
                    setTimeout(() => {
                        this.$root.$emit('findLockClicked', this.positionNumber)
                    }, 1000);
                    return;
                }

                this.$root.$emit('findLockClicked', this.positionNumber);
            },
            sanitize() {
                let num = this.positionNumber;

                // Check the length of the number
                if (num.length >= this.maxLength) {
                    num = num.substr(0, this.maxLength);
                }

                // Check if number is not reaching the limit
                if (num > this.maxNumber) {
                    num = this.maxNumber;
                }

                // Allow only numbers/digits in text box
                num = (/[-+]?[0-9]*\.?[0-9]+/).test(num)
                    ? parseFloat(num)
                    : 'Find a lock';

                // Assigning back the sanitized value
                this.positionNumber = num;

                // Call method after typing event is stopped
                debounce(this.toSlide(true) , 1000);
            },
            isNumber(value) {
                if ((undefined === value) || (null === value)) {
                    return false;
                }
                if (typeof value === 'number') {
                    return true;
                }
                return !isNaN(value - 0);
            },
        },
    };
</script>

<style lang="scss" scoped>
    .find-lock-input {
        font-family: 'Roboto', 'Roboto Condensed', 'Open Sans', 'Arial', serif;
        font-size: 1.2rem;
        width: 135px;
        float: right;
        margin: 5px;
        padding: 0 5px 0 10px;
        line-height: 40px;
        color: #555;
        background: transparent;
        border: 2px solid #fdefe0;
        border-radius: 6px;
        white-space: nowrap;
        text-transform: uppercase;
        text-decoration: none;
        transition: all .100s;
        -webkit-transition: all .15s ease;
        -webkit-box-shadow: 0 4px 6px rgba(0, 0, 0, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
        z-index: 10;
    }

    input:focus {
        outline: none;
        color: #555;
        border-color: rgba(255, 255, 255, 0.75);
        background: rgba(255, 255, 255, 0.4);
    }

    // Hide placeholder on focus
    input:focus::-webkit-input-placeholder {
        opacity: .5;
    }
    input:focus:-moz-placeholder { /* FF 4-18 */
        opacity: .5;
    }
    input:focus::-moz-placeholder { /* FF 19+ */
        opacity: .5;
    }
    input:focus:-ms-input-placeholder { /* IE 10+ */
        opacity: .5;
    }

    // Change placeholder's font color
    ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
        font-size: initial;
        color: rgba(0, 0, 0, 0.5);
        text-shadow: 0 0 .125em transparent;
        transition: all .25s;
    }
    ::-moz-placeholder { /* Firefox 19+ */
        font-size: initial;
        color: rgba(0, 0, 0, 0.5);
        text-shadow: 0 0 .125em transparent;
        transition: all .25s;
    }
    :-ms-input-placeholder { /* IE 10+ */
        font-size: initial;
        color: rgba(0, 0, 0, 0.5);
        text-shadow: 0 0 .125em transparent;
        transition: all .25s;
    }
    :-moz-placeholder { /* Firefox 18- */
        font-size: initial;
        color: rgba(0, 0, 0, 0.5);
        text-shadow: 0 0 .125em transparent;
        transition: all .25s;
    }
</style>
