<template>
    <div>
        <img v-for="lock in locks"
            :class="`${ lock.class }`"
            :src="`${ lock.src }`"
            @click="viewLock()"
        />
    </div>
</template>

<script>
    import Api from "../util/Api";

    export default {

        data() {
            return {
                userId: 1,
                locks: [],
            }
        },

        methods: {
            init() {
                this.$root.$on('viewLock', this.viewLock);
            },

            viewLock() {
                axios
                    .get(Api.host() + '/locks/user/' + this.userId)
                    .then(function (response) {
                        // handle success
                        //this.locks = response.data;
                        console.log(response.data);
                    })
                    .catch(function (error) {
                        // handle error
                        console.log(error);
                    });
            },

            initLocks() {
                axios
                    .get(Api.host() + '/locks/')
                    .then(response => {
                        this.data = response.data.locks.data;
                        this.data.forEach((lock) => {
                            //this.locks.push(['src', 1]);
                            //this.locks.src = 'public/images/lock' + lock.id + '.png';
                            //this.locks.class = 'lock' + lock.id;
                        });
                    })
                    .catch(function (error) {
                        // handle error
                        console.log(error);
                    });
            }
        },

        created() {
            this.initLocks();
        },

        mounted() {
            this.init();
        },
    }
</script>

<style scoped>

</style>